<header class="application-header">
  {{#if model.securityMarking.label}}
  <div class="security-marking-label">
    {{model.securityMarking.label}}
  </div>
  {{/if}}
</header>
{{header-navigation-bar}}

<div class="container">
  <h4>
    <i class="material-icons">error</i>
    Application Problem
  </h4>

  {{#md-card}}
    {{#md-card-content}}
      {{model}}
    {{/md-card-content}}
  {{/md-card}}
</div>

<footer class="application-footer">
  {{#if model.securityMarking.label}}
  <div class="security-marking-label">
    {{model.securityMarking.label}}
  </div>
  {{/if}}
</footer>