<div class="container">
{{help-card help=model.help}}
<h4>
  <i class="material-icons">group</i>
  Our Partners
</h4>

<div class="row">
    <div class="col s12 m4">
        <div class="card large">
        <div class="card-image">
            <img src="/cti-stix-ui/mitre.png">
            
        </div>
        <div class="card-content">
              <p>Unfetter-Discover's "Attack Patterns" are part of <a href="https://www.mitre.org" target="_blank">The MITRE Corporations</a> Adversarial Tactics, Techniques and Common Knowledge 
        model called <a href="https://attack.mitre.org" target="_blank">ATT&amp;CK&#8482;</a>.  You can learn more about it at The MITRE Corporation's <a href="https://www.mitre.github.io/unfetter" target="_blank">Unfetter</a> page</p>   
    
        </div>
        <div class="card-action">
           <a href="https://attack.mitre.org/wiki/Main_Page" target="_blank">Visit ATT&CK™</a>
        </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card large">
        <div class="card-image">
            <img src="/cti-stix-ui/cis.png">
            
        </div>
        <div class="card-content">
            <br><br>
              <p>Unfetter-Discover's "Courses Of Action" are from <a href="https://www.cisecurity.org/critical-controls.cfm" target="_blank">The Center For Internet Security&reg;</a> Top 20 Critical Controls.</p>
                 
    <br><br><Br>
        </div>
        <div class="card-action">
           <a href="https://www.cisecurity.org/critical-controls.cfm" target="_blank">Visit CIS&reg;</a>
        </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card large">
        <div class="card-image" >
            <img src="/cti-stix-ui/iad.png">
            
        </div>
        <div class="card-content">
            <Br><br>
              <p>Unfetter-Discover's is sponsored by the <a href="https://www.nsa.gov" target="_blank">National Security Agency's</a> <a href="https://www.iad.gov" target="_blank">Information Assurance</a> Mission.
              You can read more about the <a href="iadgov.github.io/unfetter" target="_blank">Unfetter</a> project and learn how to participate.</p>  
              <br>
        </div>
        <div class="card-action">
           <a href="https://www.iad.gov" target="_blank">Visit IA</a>&nbsp; <a class="text-align right" href="https://iadgov.github.io/unfetter" target="_blank">Visit Unfetter</a>
        </div>
        </div>
    </div>

</div>


</div>